{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <i class="bi bi-person"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </div>
</nav>

<div class="offcanvas offcanvas-start fondo-oscuro" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">
            <i class="bi bi-robot"></i>
            Proyecto Mision TIC
        </h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <hr>
        <div class="usuario">
            <img src="https://picsum.photos/id/1005/367/267" alt="">
            <p>{{ session['nombre'] }}</p>
            <p>{{ session['username'] }}</p>
        </div>
        <hr>

        <div class="d-grid gap-2">
            <a href="#" class="boton seleccionado"><i class="bi bi-house"></i>Administrador</a>
            <a onclick="" href="{{url_for('menu_user')}}" class="boton"><i class="bi bi-person"></i>Gestion
                Usuarios</a>
            <a onclick="" href="{{url_for('menu_materias')}}" class="boton"><i class="bi bi-person"></i>Gestion
                de Materias</a>
            <a onclick="" href="{{url_for('menu_cursos')}}" class="boton"><i class="bi bi-person"></i>Gestion
                de Cursos</a>
            <a onclick="" href="{{url_for('menu_matriculas')}}" class="boton"><i class="bi bi-person"></i>Gestion
                de Matriculas</a>
        </div>
        <div class="d-grid gap-2">
            <a href="#" class="boton seleccionado"><i class="bi bi-person-check"></i>Profesor</a>
            <a onclick="" href="{{url_for('menu_actividades')}}" class="boton"><i class="bi bi-person"></i>Gestion
                de Actividades</a>
            <a onclick="" href="{{url_for('menu_calificaciones')}}" class="boton"><i class="bi bi-person"></i>Gestion
                de Calificaciones</a>

            <!-- <a href="profesores.html" class="boton"><i class="bi bi-person-workspace"></i>Profesores</a>
            <a href="estudiantes.html" class="boton"><i class="bi bi-person-check"></i>Estudiantes</a>
            <a href="materias.html" class="boton"><i class="bi bi-list-task"></i>Materias</a>
            <a href="cursos.html" class="boton"><i class="bi bi-list-task"></i>Curso</a> -->
        </div>
        <div class="d-grid gap-2">
            <a href="#" class="boton seleccionado"><i class="bi bi-list"></i>Estudiante</a>
            <a href="#" class="boton"><i class="bi bi-person"></i>Consulta</a>
            <!-- <a href="profesores.html" class="boton"><i class="bi bi-person-workspace"></i>Profesores</a>
            <a href="estudiantes.html" class="boton"><i class="bi bi-person-check"></i>Estudiantes</a>
            <a href="materias.html" class="boton"><i class="bi bi-list-task"></i>Materias</a>
            <a href="cursos.html" class="boton"><i class="bi bi-list-task"></i>Curso</a> -->
        </div>

        <div class="d-grid gap-2">
            <a href="{{url_for('login')}}" class="boton seleccionado"><i class="bi-house"></i>Salir</a>

        </div>


    </div>
</div>

{% block content1 %}

{% endblock %}

{% endblock %}